body {
  font-size: 100%;
  background-color: #292929; }

* {
  margin: 0;
  padding: 0; }

body, html {
  height: 100%; }

.cover {
  background: url("../img/coverbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.intro {
  background: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .intro h1 {
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 70px; }

.showcase {
  background: #000;
  height: 100%;
  max-width: 1200px;
  margin: 50px auto 100px auto;
  padding: 50px; }
  .showcase__firstRow {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .showcase__firstRow__image {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .showcase__firstRow__image img {
        margin: 0 auto;
        width: 50%;
        height: 50%; }
    .showcase__firstRow__textBox {
      width: 50%;
      vertical-align: top; }
      .showcase__firstRow__textBox h2 {
        font-family: 'Playfair Display', serif;
        color: #fff;
        font-size: 150px;
        margin: 0 auto; }
      .showcase__firstRow__textBox p {
        font-family: 'Playfair Display', serif;
        color: #fff;
        font-size: 25px; }
  .showcase__secondRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 150px 0 0 0; }
    .showcase__secondRow__finger {
      width: 50%;
      display: flex;
      justify-content: center; }
      .showcase__secondRow__finger img {
        height: 80%; }
    .showcase__secondRow__girl {
      width: 50%;
      display: flex;
      justify-content: center; }
      .showcase__secondRow__girl img {
        margin: 0 auto;
        width: 100%;
        height: 100%; }

#show {
  display: block; }

#hide {
  display: none; }

.modalCover {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.5;
  top: 0;
  left: 0; }

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }
  .modal__box {
    background: url("../img/modalBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 700px;
    border: 1px solid #bf9567;
    margin: 20px auto;
    padding: 20px; }
    .modal__box img {
      width: 80%;
      height: 80%; }

.products {
  margin: 200px 0; }

.itemGrid--top {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  background: #000;
  margin: 0 auto;
  padding: 50px; }
  .itemGrid--top__item {
    width: 200px; }
    .itemGrid--top__item img {
      width: 100%; }

.itemGrid--bottom {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  background: #000;
  margin: 0 auto; }
  .itemGrid--bottom__item {
    width: 200px; }
    .itemGrid--bottom__item img {
      width: 100%; }
  .itemGrid--bottom__item--first {
    width: 200px;
    padding: 0 0 0 100px; }
    .itemGrid--bottom__item--first img {
      width: 100%; }
  .itemGrid--bottom__item--last {
    width: 200px;
    padding: 0 100px 0 0; }
    .itemGrid--bottom__item--last img {
      width: 100%; }

/*# sourceMappingURL=styles.css.map */
