$break-small: 530px;
$break-medium: 750px;
$break-large: 1080px;

*{
	margin: 0;
	padding: 0;
}


h1{
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	line-height: 50px;
	margin: 0 0 20px 0;
	

	@media screen and (min-width: $break-medium) {
		font-size: 80px;
		line-height: 80px;
		
	}

	@media screen and (min-width: $break-large) {
		font-size: 120px;
		line-height: 130px;
		
	}

}

p{
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
    line-height: 26px;
    width: 100%;
    display: inline-block;
    padding: 20px 0 0 0;   
    font-weight: 300;
    vertical-align: top;

    @media screen and (min-width: $break-medium) {
		width: 40%;
		font-size: 25px;
		line-height: 30px;
		padding: 0 20px 0 0;
	}
}

img{
	width:100%;
}

#intro{
	width: 100%;
	padding: 20px;
	box-sizing: border-box;

	@media screen and (min-width: $break-medium) {
		
	}
}

#box{
	width:100%;
	margin: 0 auto;
	

	

	@media screen and (min-width: $break-small) {
		width: 70%;
		display: flex;
		justify-content: center;
	}

	img{
		display:block;
	}

	&__left{
		display: block;
		width: 100%;

		@media screen and (min-width: $break-small) {
			width: 50%;
		}
	}

	&__right{
		display: block;
		width: 100%;

		@media screen and (min-width: $break-small) {
			width: 50%;
		}
	}
}


#A1{
	
}

#A2{
	
}

#A3{
	
}

#A4{
}

#A5{
	
}

#A6{
}