$break-small: 530px;
$break-medium: 750px;
$break-large: 1080px;

//RESETS etc//
//////////////
body{
	font-size: 100%;
	background-color: #212121;
}
*{
	margin: 0;
	padding: 0;
}
body, html{
	height: 100%;
}






.showcase{
	background: #000;
	height: 100%;
	max-width: 1200px;
	margin: 50px auto 100px auto;	
	border: 1px solid #bf9567;

		@media screen and (min-width: $break-medium) {
			padding: 50px;			
		}	


		&__firstRow{	
			width: 80%;
			margin: 0 auto;	
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items:center;

				@media screen and (min-width: $break-medium) {
					width: auto;
					padding: 0 50px;
				}	

			&__textBox{
				width: 100%;
				vertical-align: top;
					
					@media screen and (min-width: $break-medium) {
						width: 50%;
					}

				h2{
					font-family: 'Playfair Display', serif;
					color: #fff;
					font-size: 200px;
					margin: 0 auto;
				}
				p{
					font-family: 'Playfair Display', serif;
					color: #fff;
					font-size: 25px;
				}
			}

			&__image{
				width: 90%;
				min-height: 500px;
				margin: 0 auto;
				box-sizing: border-box;

				background-image: url('../img/ring1.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: 100%;

					@media screen and (min-width: $break-small) {
						background-size: 70%;
					}
					

					@media screen and (min-width: $break-medium) {
						width: 50%;
						background-position: right center;
						background-size: 80%;

					}

					@media screen and (min-width: $break-large){
						width: 50%;
						
					}

				
			}//__image

					
		}//__firstRow

		&__secondRow{
			width: 100%;
			display: flex;
			justify-content: space-between;
			// background: #ccc;
			margin: 150px 0 0 0;
			
			&__finger{
				width: 50%;				

				img{
					display: block;
					margin: auto;
					padding: 0 50px 0 0;
				}
			}


			&__girl{
				width: 50%;
				display: flex;
				justify-content: center;		

				img{
					margin: 0 auto;
					width: 100%;
					height: 100%;
				}
			}					
		}//__secondRow
}









//PRODUCT GRID//
////////////////


.products{
	margin: 200px 0;

	h2{
		color: #fff;
		font-size: 100px;
		font-family: 'Playfair Display', serif;
		border-bottom: 1px solid #fff;
	}
}



.itemGrid--top{
	display: flex;
	justify-content: space-around;
	max-width: 1200px;
	background: #000;
	margin: 0 0 70px 0;

		&__item--first{			
			max-width: 200px;
			padding: 0 0 0 100px;
			display: flex;
			align-items: center;
			justify-content: flex-end;			

			img{
				width: 80%;
			}
		}

		&__item{			
			max-width: 200px;
			display: flex;
			align-items: center;
			justify-content: center;		

			img{
				width: 80%;
			}
		}

		&__item--last{			
			max-width: 200px;
			padding: 0 100px 0 0;
			display: flex;
			align-items: center;
			justify-content: flex-start;			

			img{
				width: 80%;
			}
		}
}

.itemGrid--mid{
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	background: #000;
	margin: 0 0 70px 0;

		&__item--first{			
			max-width: 200px;
			display: flex;
			align-items: center;
			justify-content: center;

			img{
				width: 100%;
			}
		}

		&__item--second{			
			max-width: 200px;
			display: flex;
			align-items: center;
			justify-content: center;

			img{
				width: 70%;
			}
		}

		&__item--third{			
			max-width: 200px;
			display: flex;
			align-items: center;
			justify-content: center;

			img{
				width: 70%;
			}
		}

		&__item--fourth{			
			max-width: 200px;
			display: flex;
			align-items: center;
			justify-content: center;

			img{
				width: 80%;
			}
		}		
}


.itemGrid--bottom{
	display: flex;
	justify-content: space-around;
	max-width: 1200px;
	background: #000;
	margin: 0 0 70px 0;


		&__item--first{			
			max-width: 200px;
			padding: 0 0 0 100px;
			display: flex;
			align-items: center;
			justify-content: flex-end;			

			img{
				width: 80%;
			}
		}


		&__item{			
			max-width: 200px;
			display: flex;
			align-items: center;
			justify-content: center;		

			img{
				width: 80%;
			}
		}

		&__item--last{			
			max-width: 200px;
			padding: 0 100px 0 0;
			display: flex;
			align-items: center;
			justify-content: flex-start;			

			img{
				width: 70%;
			}
		}
}







.modalCover{
	position: fixed;	
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0.5;
	top: 0;
	left: 0;
	transition: 1s;
}

.modal{
	position: fixed;	
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;

	&__box{
		display: block;
		max-height: 300px;
		max-width: 300px;
		border: 1px solid #bf9567;
		margin: 0 auto;
		background: url("../img/modalBG.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		opacity: 1;	

		@media screen and (min-width: $break-small) {
			
			max-height: 400px;
			max-width: 400px;
		}

		@media screen and (min-width: $break-medium) {
			display: inline-block!important;
			max-height: 500px;
			max-width: 500px;
		}

		@media screen and (min-width: $break-large) {
			max-height: 700px;
			max-width: 700px;
		}


		img{
			// width: 50%;
			// height: 50%;
		}
	}

	&__text{
		display: inline-block;
		vertical-align: top;
		padding: 0 0 0 10px;
		max-width: 200px;

		h3{
			color: #fff;
			font-size: 50px;
		}

		hr{
			width: 100%;
			margin: 10px 0;
			border: 0;
		    height: 1px;
		    background: #fff;
		}

		span{
			color: #fff;
			font-size: 30px;
			display: block;
		}

		p{
			color: #fff;
			font-size: 20px;
			display: block;
		}

		nav{
			display: inline-block;
			text-decoration: underline;
			color: #fff;
			font-size: 30px;
		}
		#nav-next{
			float: right;
		}

		
	}
}

.blurThis{
	-webkit-filter: blur(5px);
	transition: 0.5s; 
}

#show{
	display: flex;

}
#hide{
	display: none;
}